

<footer id="contact"  class="contact">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <a href="#">Avto-road</a>
                        </div>
                        <p>
                            Biz butun o'zbekiston bo'ylab vlog yurutamiz va siz bu saytimizdan mashina sotib olishingiz va sotishingiz mumkin elon berish uchun nomerlarga boglaning yoki bizga xabar yozing
                        </p>
                        <div class="footer-contact">
                            <p><a style="color:white;" href="https://t.me/avto_road">Telegram</a></p>
                            <p>+998946166536</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>Bizning sahifalar</h2>
                        <ul>
                            <li>Avtoroad.uz</li>
                            <li>instagram:Avtoroad</li>
                            <li>Telegram:Avtoroad001</li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="single-footer-widget">
                        <h2>Saytdagi brendlar</h2>
                        <div class="row">
                            <div class="col-md-7 col-xs-6">
                                <ul>
                                    <li>BMW</li>
                                    <li>lamborghini</li>
                                    <li>camaro</li>
                                    <li>audi</li>
                                    <li>infiniti</li>
                                    <li>nissan</li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-xs-6">
                                <ul>
                                    <li>ferrari</li>
                                    <li>porsche</li>
                                    <li>land rover</li>
                                    <li>aston martin</li>
                                    <li>mersedes</li>
                                    <li>opel</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>Bizni kuzating</h2>
                        <div class="footer-newsletter">
                            <p>
                                Sizlar uchun qulaylik endi royxatdan otish yoq
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">

            </div>
        </div>
    </div><!--/.footer-copyright-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>

    </div><!--/.scroll-Top-->

</footer><!--/.contact-->
