{% load static %}
<section id="clients-say"  class="clients-say">
    <div class="container">
        <div class="section-header">
            <h2>Avto-road asoschilari</h2>
        </div><!--/.section-header-->
        <div class="row">
            <div class="owl-carousel testimonial-carousel">
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="{% static 'assets/images/clients/170921763.jpeg' %}"  alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p>
                                    Sayt tuzuvchisi | Backend Developer
                                </p>

                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2><a href="https://t.me/ohunjon_010203">Telegram:ohunjon_010203</a></h2>
                                <h4>Ohunjon Farg'ona</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="{% static 'assets/images/clients/photo_2024-05-22_13-16-03.jpg' %}" alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p>
                                    Instagramda vlog yurutuvchi va frontend ustida ishlagan
                                </p>
                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2><a href="https://t.me/akif060 telegram ">Telegram:akif060</a></h2>
                                <h4> okifxon Andijan</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="{% static 'assets/images/clients/ahmadillo.jpg' %}" alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p>
                                    Logo dizayner va reklama xizmati yurutuvchisi
                                </p>
                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2><a href="https://t.me/ahmadullo05">Telegram:ahmadullo05</a></h2>
                                <h4>Ahmadullo Farg'ona</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="{% static 'assets/images/clients/photo_2024-04-15_15-05-51.jpg' %}" alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p>
                                    logo dizayner va smm manager
                                </p>
                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2><a href="https://t.me/abdurauff1">Telegram:abdurauff1</a></h2>
                                <h4>Abdurauf Namangan</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
            </div><!--/.testimonial-carousel-->
        </div><!--/.row-->
    </div><!--/.container-->

</section><!--/.clients-say-->
